@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,300;0,400;1,500&family=Roboto:wght@300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-color: #080808;
  --second-bg-color: #131313;
  --text-color: #ffffff;
  --main-color: #00ffee;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --bg-color: #ffffff;
    --second-bg-color: #131313;
    --text-color: #080808;
    --main-color: #00ffee;
  }
} */
* {
  text-decoration: none;
  /* border: none; */
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
}

.nav-ani {
  @apply relative hover:text-secondary duration-75 before:bg-primary before:absolute before:duration-700 before:w-full  before:top-4 hover:before:bg-secondary hover:before:top-[22px] hover:before:h-[2px];
}
.btn {
  @apply font-extrabold relative px-5 z-10 py-2 hover:text-white rounded-full overflow-hidden  
  before:absolute before:top-0 before:left-0 before:bottom-0 before:right-0 before:-z-10  before:transform before:transition before:scale-x-0 before:duration-300
  hover:before:transform select-none cursor-pointer hover:before:scale-x-100;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
